<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3" th:fragment="menu">
    <div class="container px-5">
        <a class="navbar-brand"><span class="fw-bolder text-primary">Gyarsilal Solanki</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-lg-auto ms-0 text-lg-start text-end mt-2 mt-lg-0 small fw-bolder">
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/projects}">Projects</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/service}">Services</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
            </ul>

            <!-- GitHub Sponsor Button (official iframe) -->
            <iframe src="https://github.com/sponsors/gyarsilalsolanki011/button"
                    title="Sponsor gyarsilalsolanki011"
                    style="border: 0; width: 114px; height: 32px; border-radius: 6px; margin-left: 1rem;">
            </iframe>
        </div>
    </div>
</nav>
</body>
</html>