<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="projects">
        <!-- Projects Section-->
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Project: Journal App -->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-5">
                                <h4 class="fw-bold">Journal App – Backend App</h4>
                                <p class="text-muted">Personal Project | Jul 2024 – Sept 2024</p>
                                <ul class="mb-2">
                                    <li>Designed and implemented a Journal Entry Management System using Spring Boot and
                                        MongoDB Database.</li>
                                    <li>Followed MVC architecture and integrated Spring Security for authentication.
                                    </li>
                                    <li>Implemented authentication, data management, and REST APIs for journal entries.
                                    </li>
                                </ul>
                                <a class="text-decoration-none fw-semibold"
                                    href="https://github.com/gyarsilalsolanki011" target="_blank">🔗 GitHub Repo</a>

                                <!-- Screenshots -->
                                <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
                                    <img class="img-fluid rounded shadow mx-auto d-block"
                                        style="max-width: 100%; width: 100%; height: auto;"
                                        src="images/journal.png"
                                        alt="Smart Expense Tracker Screenshot">
                                </div>
                            </div>
                        </div>

                        <!-- Project: Smart Expense Tracker -->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-5">
                                <h4 class="fw-bold">Smart Expense Tracker – Backend App</h4>
                                <p class="text-muted">Personal Project | March 2025 – Apr 2025</p>
                                <ul class="mb-2">
                                    <li>Developed Smart Expense Tracker using Spring Boot, Hibernate, and PostgreSQL
                                        database.</li>
                                    <li>Implemented JWT authentication and role-based access control for Users,
                                        Managers, and Admins.</li>
                                    <li>Helps users track income/expenses, visualize trends, manage budgets, and receive
                                        email notifications.</li>
                                </ul>
                                <a class="text-decoration-none fw-semibold"
                                    href="https://github.com/gyarsilalsolanki011" target="_blank">🔗 GitHub Repo</a>

                                <!-- Screenshots -->
                                <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
                                    <img class="img-fluid rounded shadow mx-auto d-block"
                                        style="max-width: 100%; width: 100%; height: auto;"
                                        src="images/expense.png"
                                        alt="Smart Expense Tracker Screenshot">
                                </div>
                            </div>
                        </div>

                        <!-- Project: Attendance App -->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-5">
                                <h4 class="fw-bold">Make Attendance – Android App</h4>
                                <p class="text-muted">Personal Project | Jan 2024 – Apr 2024</p>
                                <ul class="mb-2">
                                    <li>Developed and designed an android app as an attendance tracing system using java(ui) and firebase(database).</li>
                                    <li>Here designed two interphases, Student interphase(To track attendance) and Faculty interphase(To take attendance).</li>
                                    <li>Created a user-friendly interphases with bottom navigation.</li>
                                </ul>
                                <a class="text-decoration-none fw-semibold"
                                    href="https://github.com/gyarsilalsolanki011/make_attendance" target="_blank">🔗 GitHub Repo</a>

                                <!-- Screenshots -->
                                <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/attendanceI.jpg"
                                            alt="Banking App Screenshot 1"></div>
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/attendanceII.png"
                                            alt="Banking App Screenshot 2"></div>
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/attendanceIII.jpg"
                                            alt="Banking App Screenshot 3"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Project: Weather App -->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-5">
                                <h4 class="fw-bold">Weather Cap – Android App</h4>
                                <p class="text-muted">Personal Project | Jan 2023 – Apr 2023</p>
                                <ul class="mb-2">
                                    <li>Developed a weather forecast app using kotlin and Xml.</li>
                                    <li>Integrated retrofit API to fetch real-time weather data based on city input.</li>
                                    <li>Display 24-hour forecast, humidity, wind speed, and other weather condition.</li>
                                </ul>
                                <a class="text-decoration-none fw-semibold"
                                    href="https://github.com/gyarsilalsolanki011/weather-cap" target="_blank">🔗 GitHub Repo</a>

                                <!-- Screenshots -->
                                <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/weatherI.png"
                                            alt="Weather App Screenshot 1"></div>
                                    <div class="col"><img class="img-fluid rounded shadow" src="images/weatherII.jpg" alt="Weather App Screenshot 3"></div>
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/weather.png"
                                            alt="Weather App Screenshot 2"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Project: Foot Fitness App -->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-5">
                                <h4 class="fw-bold">Foot Fitness – Android App</h4>
                                <p class="text-muted">Personal Project | Jan 2025 – Apr 2025</p>
                                <ul class="mb-2">
                                    <li>Developed a banking backend system using Spring Boot and MySQL Database.</li>
                                    <li>Designed REST APIs for account creation, balance check, transactions, and
                                        admin-level controls.</li>
                                    <li>Added support for QR code scanning, PDF/Excel export, and email notifications
                                        using scheduled tasks.</li>
                                </ul>
                                <a class="text-decoration-none fw-semibold"
                                    href="https://github.com/gyarsilalsolanki011" target="_blank">🔗 GitHub Repo</a>

                                <!-- Screenshots -->
                                <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/footwearI.jpg"
                                            alt="Footwear App Screenshot 1"></div>
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/footwearI.jpg"
                                            alt="Footwear App Screenshot 2"></div>
                                    <div class="col"><img class="img-fluid rounded shadow"
                                            src="images/footwearI.jpg"
                                            alt="Footwear App Screenshot 3"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Project: Banking App -->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-5">
                                <h4 class="fw-bold">Banking App – Full Stack Application</h4>
                                <p class="text-muted">Group Project | Jan 2025 – Apr 2025</p>
                                <ul class="mb-2">
                                    <li>Developed a banking app using Spring Boot, MySQL Database and Java(Android).</li>
                                    <li>Designed REST APIs for account creation, balance check, transactions, and
                                        admin-level controls.</li>
                                    <li>Added support for QR code scanning, PDF/Excel export, and email notifications
                                        using scheduled tasks.</li>
                                </ul>
                                <a class="text-decoration-none fw-semibold"
                                    href="https://github.com/gyarsilalsolanki011" target="_blank">🔗 GitHub Repo</a>

                                <!-- Screenshots -->
                                <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
                                    <img class="img-fluid rounded shadow mx-auto d-block"
                                        style="max-width: 100%; width: 100%; height: auto;"
                                        src="images/expense.png"
                                        alt="Smart Expense Tracker Screenshot">
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 g-3 mt-4">
                                    <img class="img-fluid rounded shadow mx-auto d-block"
                                        style="max-width: 100%; width: 100%; height: auto;"
                                        src="images/bankingapp.png"
                                        alt="Smart Expense Tracker Screenshot">
                                </div>
                            </div>
                        </div>

                        <!-- Footer GitHub CTA -->
                        <div class="text-center mb-5">
                            <h5 class="fw-semibold">Visit all repositories:</h5>
                            <a href="https://github.com/gyarsilalsolanki011/repositories" class="text-decoration-none"
                                target="_blank">
                                🔗 github.com/gyarsilalsolanki011
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact">Contact me</a>
                </div>
            </div>
        </section>
    </div>
</body>

</html>