<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="service">
        <!-- Service Section -->
        <section class=" py-5">
            <div class=" container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Services</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <div class="text-center text-xxl-start">
                            <div class="badge bg-black text-white mb-4">Android Development &middot; Java Development</div>
                            <div class="fs-3 fw-light text-muted">I can help you to develop</div>
                            <h1 class="display-3 fw-bolder mb-5">
                                <div class="text-black">Android Application,</div>
                                <div class="text-black">Java Backend Application</div>
                            </h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-outline-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="https://api.whatsapp.com/send/?phone=7909519946&text=I+want+to+get+android+service.&type=phone_number&app_absent=0">Android Service</a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="https://api.whatsapp.com/send/?phone=7909519946&text=I+want+to+get+Java+Backend+service.&type=phone_number&app_absent=0">Backend Service</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>